*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF8DC;

}
header{

    background-color: #FF7F50;
    height: 50px; 
    width: 100%;


}
nav{
    
    background-color: aqua;
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

.titulo{
   font-size: 50px;                /* Tamaño de fuente */
  text-align: center;             /* Centrar texto */
  background-image: url(/imagenes/texturaroja.jpg); /* Imagen de fondo */
  background-position: center;    /* Centrar imagen */
  background-size: cover;         /* Que cubra todo el texto */
  color: transparent;             /* Texto transparente */
  background-clip: text;          /* Recorte en el texto */
  margin: 20px;                    /* Margen alrededor */


}

.container_nav a{
    text-decoration: none;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.container_nav{
    flex-direction: column;
    background-color: brown;
    
}

.container_logo{
    background-color: black;
    justify-content: flex-end;


}



.opcion_menu{
    display: inline;
}
section {
  max-width: 1800px;     
  margin: 0 auto;        
  text-align: center;    
}

.logo{
    background-color: #FFFF;
    width: 25px;           
    height: 25px;
    object-fit: cover;  /*no se deforma mi logo xd*/   
    border-radius: 50%;  
    margin-left: 50rem; 


}
