<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../imagenes/logo2.ico">
    <link rel="stylesheet" href="/practica1-lab/styles.css">
    <title>formulario</title>
</head>
<body>
    <header>
        <nav>
        <a href="/index.html">inicio</a>
        <a href="/templates/galeria.html">galeria</a>
        <a href="/templates/tabla.html">tabla</a>
        <a href="/templates/listas.html">listas</a>
        <a href="/templates/formulario.html">formulario</a>

        </nav>

    <form 
    action="https://formspree.io/f/mgvzlzlz"
    method="POST"
    >
    <fieldset>
        <input type="text" name="nombre" id="nombre" placeholder="ingrese el nombre aqui"><br>
        <input type="text" name="apellido" id="apellido" placeholder="ingrese el apellido aqui"><br>
        <input type="date" name="f_de_nac" id="f_de_nac" ><br>
        <input type="number" name="edad" id="edad" placeholder="ingrese su edad aqui"></input><br>
        <input type="reset"><br>
        <input type="submit"><br>
        <p>sexo</p>
        <select name="sexo">
            <option value="M">M</option>
            <option value="F">F</option>
            <option value="">OTRO</option>
        </select>
        <br><br>

        <input type="radio" name="opcion" value="app web">app web <br>
        <input type="radio" name="opcion" value="analisis">analisis <br>
        <input type="radio" name="opcion" value="desarrolo">desarrollo <br>

        <br><br>

        <input type="checkbox" name="html" value="html">html <br>
        <input type="checkbox" name="css" value="css">css <br>
        <input type="checkbox" name="js" value="js">js <br>

        <input type="number" name="telefono" value="telefono"><br>
    </fieldset>

    <textarea name="comentario" value="comentario" placeholder="escriba algo aqui"></textarea>
    </form>



   
    
</body>
</html>