<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imagenes/billlogo.ico">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/templates/galeria.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="index.js"></script>
    <title>galeria</title>
</head>
<body>

    <header>
        <nav>
        <div  class="container_nav">
            <a href="/index.html" class="opc_nav">inicio</a>
            <a href="/templates/galeria.html" class="opc_nav">galeria</a>
            <a href="/templates/tabla.html" class="opc_nav">tabla</a>
            <a href="/templates/listas.html"class="opc_nav">listas</a>
            <a href="/templates/formulario.html" class="opc_nav">formulario</a>
        </div>

        
        <img src="/imagenes/billlogo.png" alt="logopa" class="logo">    
        

        </nav>

        
    </header>

    <h1 class="titulo" class="titulo_galeria">galeria</h1>
    <section class="galeria_section">
        <div class="card">

            <img src="../imagenes/dipper.jpg" alt="dipper" width="300">
            <h2>dipper</h2>
            <p>Mason «Dipper» Pines​ es un personaje ficticio y uno de los dos personajes principales de la serie animada de Disney Channel Gravity Falls.</p>
            <a href="../imagenes/dipper.jpg" download="">descargar imagen</a><br>
            <a href="https://proassetspdlcom.cdnstatics2.com/usuaris/libros_contenido/arxius/41/40037_Gravity_Falls_diario.pdf" download>abrir pdf</a><br>
            <a href="mailto:ahirsch@alexhirschart.com?subject=contacto">mandar correo</a><br>
        </div>

        <div class="card">
            <img src="../imagenes/elviejo.png" alt="McGucket" width="300">
            <h2>McGucket</h2>
            <p>Fiddleford Hadron McGucket, mejor conocido como "El Viejo McGucket", es un personaje secundario de la serie</p>
            <a href="../imagenes/elviejo.png" download="">descargar imagen</a><br>
            <a href="https://proassetspdlcom.cdnstatics2.com/usuaris/libros_contenido/arxius/41/40037_Gravity_Falls_diario.pdf" download>abrir pdf</a><br>
            <a href="mailto:ahirsch@alexhirschart.com?subject=contacto">mandar correo</a><br>

        </div>
        
    </section>
    <section class="galeria_section">
        <div class="card">

            <img src="../imagenes/dipper.jpg" alt="dipper" width="300">
            <h2>dipper</h2>
            <p>Mason «Dipper» Pines​ es un personaje ficticio y uno de los dos personajes principales de la serie animada de Disney Channel Gravity Falls.</p>
            <a href="../imagenes/dipper.jpg" download="">descargar imagen</a><br>
            <a href="https://proassetspdlcom.cdnstatics2.com/usuaris/libros_contenido/arxius/41/40037_Gravity_Falls_diario.pdf" download>abrir pdf</a><br>
            <a href="mailto:ahirsch@alexhirschart.com?subject=contacto">mandar correo</a><br>
        </div>

        <div class="card">
            <img src="../imagenes/elviejo.png" alt="McGucket" width="300">
            <h2>McGucket</h2>
            <p>Fiddleford Hadron McGucket, mejor conocido como "El Viejo McGucket", es un personaje secundario de la serie</p>
            <a href="../imagenes/elviejo.png" download="">descargar imagen</a><br>
            <a href="https://proassetspdlcom.cdnstatics2.com/usuaris/libros_contenido/arxius/41/40037_Gravity_Falls_diario.pdf" download>abrir pdf</a><br>
            <a href="mailto:ahirsch@alexhirschart.com?subject=contacto">mandar correo</a><br>

        </div>
        
    </section>

    <section class="galeria-s4">


    </section>
    
    
</body>
</html>