<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../imagenes/logo2.ico">
    <link rel="stylesheet" href="/practica1-lab/styles.css">
    <title>galeria</title>
</head>
<body>
     <header>
        <nav>
        <a href="/practica1-lab/index.html" class="opcion_menu">inicio</a>
        <a href="/practica1-lab/templates/galeria.html"class="opcion_menu">galeria</a>
        <a href="/practica1-lab/templates/tabla.html" class="opcion_menu">tabla</a>
        <a href="/practica1-lab/templates/listas.html" class="opcion_menu">listas</a>
        <a href="/practica1-lab/templates/formulario.html" class="opcion_menu">formulario</a>

    </nav>
    <section>
        <div>

            <img src="../imagenes/dipper.jpg" alt="dipper" width="300">
            <h2>dipper</h2>
            <p>Mason «Dipper» Pines​ es un personaje ficticio y uno de los dos personajes principales de la serie animada de Disney Channel Gravity Falls.</p>
            <a href="../imagenes/dipper.jpg" download="">descargar imagen</a><br>
            <a href="https://proassetspdlcom.cdnstatics2.com/usuaris/libros_contenido/arxius/41/40037_Gravity_Falls_diario.pdf" download>abrir pdf</a><br>
            <a href="mailto:ahirsch@alexhirschart.com?subject=contacto">mandar correo</a><br>
        </div>

        <br>
        <br>
        <br>

        <div>
            <img src="../imagenes/elviejo.png" alt="McGucket" width="300">
            <h2>McGucket</h2>
            <p>Fiddleford Hadron McGucket, mejor conocido como "El Viejo McGucket", es un personaje secundario de la serie</p>
            <a href="../imagenes/elviejo.png" download="">descargar imagen</a><br>
            <a href="https://proassetspdlcom.cdnstatics2.com/usuaris/libros_contenido/arxius/41/40037_Gravity_Falls_diario.pdf" download>abrir pdf</a><br>
            <a href="mailto:ahirsch@alexhirschart.com?subject=contacto">mandar correo</a><br>

        </div>
        
    </section>
    
</body>
</html>