<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../imagenes/logo2.ico">
    <title>listas</title>
</head>
<body>
    <header>
        
    </header>
    <nav>
        <a href="../index.html">inicio</a>
        <a href="galeria.html">galeria</a>
        <a href="tabla.html">tabla</a>
        <a href="https://google.com">Google</a>
        <a href="listas.html">listas</a>
        <a href="formulario.html">formulario</a>

    </nav>
<!-- lista ordenada -->
    <section>
        <ol>
            <li>dipper</li>
            <li>mabel</li>
            <li>soos</li>
        </ol>
    </section>
    <!-- lista desordenada -->
    <section>
        <ul>
            <li>cabaña</li>
            <li>del</li>
            <li>misterio</li>
        </ul>
    </section>
<!-- Listas dependientes -->
    <section> 
        <ul>
            <li>1er año</li>
            <ul>
                <li>matematica</li>
                <li>ingles</li>
                <li>lengua</li>
            </ul>
            <li>2do año</li>
            <ul>
                <li>fisica</li>
                <li>analisis</li>
                <li>ajedres</li>
            </ul>
        </ul>
    </section>
    
    <section>
        <p>autos</p>
        <dl>
            <dt>suran</dt>
            <dd>comun</dd>
            <dd>trenline</dd>
            <dd>highline</dd>

            <dt>gol</dt>
            <dd>comun</dd>
            <dd>trenline</dd>
            <dd>highline</dd>
            
             <dt>polo</dt>
            <dd>comun</dd>
            <dd>trenline</dd>
            <dd>highline</dd>
        </dl>

    </section>
    
</body>
</html>