<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../imagenes/logo2.ico">
    <link rel="stylesheet" href="/practica1-lab/styles.css">
    <title>tabla</title>
</head>
<body>
     <header>
        <nav>
        <a href="../practica1-lab/index.html">inicio</a>
        <a href="/practica1-lab/templates/galeria.html">galeria</a>
        <a href="/practica1-lab/templates/tabla.html">tabla</a>
        <a href="/practica1-lab/templates/listas.html">listas</a>
        <a href="/practica1-lab/templates/formulario.html">formulario</a>

    </nav>

    <section>
        <div><audio src="https://www.youtube.com/watch?v=X2DUpDxFJyg"  controls ></audio></div>
        <div><video src="https://www.youtube.com/watch?v=X2DUpDxFJyg" controls></video></div>
    </section>

    <section>
        <div>
            <h2>intro de Gravity Falls</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/X2DUpDxFJyg?si=b7MIJcbNXpKqM-UF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        <div>
            <h2>parque de harry potter</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.997843209537!2d-81.4693747!3d28.4796116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77edf1da499df%3A0x41bbbe287e6e8214!2sThe%20Wizarding%20World%20of%20Harry%20Potter%20-%20Hogsmeade%20and%20Hogwarts!5e0!3m2!1ses-419!2sar!4v1754171508425!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </section>
    <section>
        <div>
            <table  >
                <tr>      <td>01</td>  <td>02</td>   <td>03</td>     </tr>
                <tr>      <td>04</td>  <td>05</td>   <td>06</td>     </tr>
                <tr>      <td>07</td>  <td>08</td>   <td>09</td>     </tr>
            </table>

        </div>
    </section>

    
</body>
</html>